services:
  app:
    container_name: envoye-nest-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3001:3001'
    environment:
      - DB_HOST=postgres-db
    env_file:
      - .env
  nginx:
    container_name: envoye-nginx
    image: nginx:latest
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
