name: Deploy to Lightsail

on:
  push:
    branches:
        - main

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Deploy via ssh
              uses: appleboy/ssh-action@v1.0.3
              with:
                host: ${{ secrets.LIGHTSAIL_HOST }}
                username: ${{ vars.LIGHTSAIL_USERNAME }}
                key: ${{ secrets.LIGHTSAIL_SSH_KEY }}
                script: |
                    cd ${{ secrets.APP_DIR }}
                    git pull origin main
                    docker compose build
                    docker compose up -d
                    docker image prune -f
